
body {
    padding-top: 70px;
    background-color: #fff;
}

.navbar-brand {
    padding-left: 120px;
}

#navbar-search {
    margin-left: 40px;
    width: 400px;
}


.header h1 {
    font-size: 65px;
    font-weight: 600;
}

.header p {
    font-size: 20px;
    color: #666;
}

.form-login, .form-sign-up {
    margin-top: 20px;
}

.form-input-text {
    font-size: 16px;
}

.btn-gray {
    color: #666;
    box-shadow: 0 2px 4px 0 #dcdcdc;
}

.side-navigation {
    position: fixed;
}

.side-nav-list {
    margin-top: 10px;
}

.side-nav-item {
    padding: 5px 5px;
    color: #666;
}

.topic-description {
    color: #525252;
    font-family: sans-serif;
    font-size: 15px;
}

.topic-option {
    color: #999;
    font-weight: 600;
    padding: 0 10px;
    margin: 5px;
}

.topic-option:hover {
    color: #2b6dad;
}

.resources {
    margin-top: 30px;
}

.btn-upvote {
    margin-top: 10px;
}

.resource-title {
    color: #2b6dca;
}

.resource-options {
    margin-left: 25px;
}

.resource-option {
    color: #828282;
    padding: 0 5px;
}

.topic-stat-item {
    color: #999;
}

.add-comment {
    margin-top: 30px;
}

.text-xs {
    font-family: Verdana, Geneva, sans-serif;
}

.text-xs-comhead {
    font-size: 8pt;
}

.text-xs-comment {
    font-size: 10pt;
}

.text-search-title {
    font-family: Verdana, sans-serif;
    font-size: 20px;
    color: #2979FF;
}

