
a {
    text-decoration: none;
    color: inherit;
}

a:hover, a:active, a:link {
    text-decoration: none;
}

.msg-error {
    color: #dd4b39;
    font-family: Arial, sans-serif;
    font-size: 13px;
}

.link-blue {
    color: #003dBF;
}

.hover-underlined:hover {
    text-decoration: underline;
}

.btn-back {
    color: inherit;
    text-decoration: none;
}

.form-default {
    background: #fff;
    border: 1px solid #dcdcdc;
    border-radius: 20px;
    box-shadow: 0 2px 4px 0 #dcdcdc;
    padding: 22px;
}

textarea {
    font-family: monospace;
}