<section class="login">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-container">
                    <form role="form">
                        <div class="form-group">
                            <h4><strong>Login</strong></h4>
                        </div>
                        <div class="form-group">
                            <input class="form-control"
                                   id="email"
                                   type="text"
                                   placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input class="form-control"
                                   id="password"
                                   type="password"
                                   placeholder="Password">
                            <message styleClass="help-block msg-error" for="password" />
                        </div>
                        <div class="form-group text-center">
                            <button class="btn btn-default" type="submit">Login</button>
                        </div>
                    </form>

                    <div>
                        <a href="#" class="small link-blue">Forgot Password?</a>
                        <a href="sign-up" class="small link-blue pull-right">Sign Up</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>